/*The style block below is used to change specific objects*/

#usersPane Label{
	-fx-text-fill: White;
}
Button {
	/*-fx-background-color: #ECA400;*/
}

#paneProfile {
	-fx-background-color: #92D5E6;
}

#paneProfile Line {
	-fx-stroke: linear-gradient(from 25% 25% to 100% 100%, #1B263B, #92D5E6);
}


#stkImgFrame {
	/*-fx-padding: 1;*/
	-fx-border-style: solid inside;
	-fx-border-width: 5;
	-fx-border-insets: 2;
	-fx-border-radius: 5;
	-fx-border-color: #1B263B;
}

#lblName {
	/*-fx-text-fill: #1B263B;*/
}

#paneMain {
	-fx-background-color: #292F36;
}